{% extends "base.html" %}
{% block content %}

    <section class="jumbotron" title="Stock-!t">
        <div class="container">
            <div class="row center-align jumbo-content">
                <div class="col s12">
                    <h1 class="jumbo-title white-text text-medium">Stock-!t</h1>
                </div>
                <div class="col s12">
                    <h4 class="jumbo-subtitle white-text">Simplistic stock and inventory management at your fingertips!</h4>
                </div>
                <div class="col s12">
                    <p class="jumbo-text white-text text-medium">Register for an account today and take <span class="text-blue text-semibold">stock</span> of your life!</p>
                </div>
                <div class="col s12">
                    <a href="" class="btn-large">Register</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
